body{
    overflow-x:hidden
}
.htmlSection .htmlContent,.inputWrapper,.oneField .label span,.wFormContainer fieldset legend{
    line-height:30px!important
}
.wFormContainer .wForm{
/*    border:0 */
	display: flex;
    flex-direction: column;
}
.wFormContainer fieldset{
    border:0!important
}
.wForm fieldset legend{
    padding:10px 0;
    border-bottom:5px solid #315c9B;
    border-radius:0;
    width:100%;
    color:#315c9B;
    font-weight:700;
    font-size:34px!important;
    margin-bottom:5px
}
.wFormContainer .errMsg{
    color:#bd10e0!important;
    font-weight:700;
    font-size:16px
}
.saveAndResume label{
    padding:0!important
}
div.oneField label.preField{
    font-size:20px;
    font-weight:700
}
.saveAndResume input[type=password],.saveAndResume input[type=text],.wFormContainer .wForm .inputWrapper input[type=text],.wFormContainer .wForm .inputWrapper textarea{
    background-color:#fff;
    box-sizing:border-box;
    color:#000;
    cursor:text;
    display:inline-block;
    font-family:Montserrat,sans-serif;
    font-size:18px;
    font-stretch:100%;
    font-style:normal;
    font-weight:400;
    letter-spacing:normal;
    line-height:30px;
    padding:5px;
    word-spacing:0;
    border:1px solid #d0d2d3;
    border-radius:0!important
}
.wFormContainer .wForm .inputWrapper input[type=text]{
    height:44px!important
}
.wFormContainer .wForm .inputWrapper input[type=password].required:focus,.wFormContainer .wForm .inputWrapper input[type=password]:focus,.wFormContainer .wForm .inputWrapper input[type=text].required:focus,.wFormContainer .wForm .inputWrapper input[type=text]:not(.readonly):focus,.wFormContainer .wForm .inputWrapper select.required:focus,.wFormContainer .wForm .inputWrapper select:focus,.wFormContainer .wForm .inputWrapper textarea.required:focus,.wFormContainer .wForm .inputWrapper textarea:focus{
    border-color:#315c9B!important;
    outline:0
}
.wFormContainer .wForm .inputWrapper input[type=text].readonly:focus{
    border:none!important;
    box-shadow:none!important
}
.wFormContainer .wForm .inputWrapper input[type=text].readonly{
    font-weight:700
}
.wFormContainer .wfPagingButtons .wfPagePreviousButton{
    background-color:#000!important;
    border-radius:0;
    color:#fff;
    text-transform:uppercase;
    font-size:16px;
    font-weight:700;
    height:56px
}
#submit_button,#tfa_resumeLater,.wFormContainer .wfPagingButtons .wfPageNextButton{
/*    background-color:#e00; */
    background-color:#315c9B;
    border-radius:0!important;
    color:#fff!important;
    text-transform:uppercase;
    font-size:16px;
    font-weight:700;
    height:56px
}
input[type=submit]{
    height:56px!important
}
#tfa_resumeLater:hover,.wFormContainer .wfPagingButtons .wfPageNextButton:hover,.wFormContainer .wfPagingButtons .wfPagePreviousButton:hover,input[type=submit]:hover{
    background-color:#315c9B!important;
    color:#fff!important
}
div.wrapButtons{
    border-top:5px solid #315c9B;
    margin-top:50px
}
label.postField,label.postField span:nth-child(2){
    cursor:pointer
}
#tfa_resumeLater.errFld,.wFormContainer .oneField.errFld .inputWrapper input[type=password],.wFormContainer .oneField.errFld .inputWrapper input[type=text],.wFormContainer .oneField.errFld .inputWrapper select,.wFormContainer .oneField.errFld .inputWrapper textarea{
    border-color:#bd10e0!important
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .wFormContainer .wForm .inputWrapper input[type=file]{
        background-color:#fff!important;
        border:1px solid #ddd!important;
        border-radius:0!important;
        display:inline-block;
        height:44px!important;
        padding:0 40px 0 0!important;
        position:relative!important;
        width:auto
    }
}
.wFormContainer .wFormHeader{
    height:0
}
.wFormContainer .wForm .wFormTitle{
    background:#d0d2d3;
/*    padding:10px 20px!important; */
/*	padding: 2.75rem 3rem 1.5rem 3rem !important; */
	padding: 1.5rem 3rem 1.5rem 3rem !important;
    margin: 0px !important;
	margin-top: 0px !important;
/*    text-align:left; */
    color:#1d96fb
}
div.saveAndResume:nth-child(1){
    text-align:left;
/*    text-align:center; */
    background:#ffffff;
/*	padding: 2.75rem 3rem 1.5rem 3rem !important; */
	padding: 0rem 0rem 3rem 0rem !important;
	margin: 0px !important;
    margin-bottom:3em
}
div.saveAndResume{
/*    text-align:center */
	margin: 0px !important;
}
/* #tfa_1825-D{
    padding:0 */
}
.saveAndResume #tfa_confirmPassword,.saveAndResume #tfa_resumeEmail,.saveAndResume #tfa_resumePassword{
    max-width:300px;
    width:100%
}
#saveAndResumeFieldset{
    border-bottom:1px dotted #d0d2d3;
    margin-bottom:3em
}
.uploadedFile .fileName{
    margin-right:2rem
}
.wForm form .wfPagingButtons{
    margin-bottom:2em
}
/* #tfa_2126 .htmlSection .htmlContent span{
    color:#bd10e0;
    font-weight:700;
    font-size:16px
}
@media only screen and (max-width:563px){
    #tfa_2126 .htmlSection{
        font-size:16px;
        text-align:center
    }
} */
.wFormWebPage{
/*    background-color:#fff */
    background-color:#315C9B

}
#wFormResumePage h3{
    display:none
}
#wFormResumePage .wFormContainer fieldset{
    border:none!important
}
input[type=submit]{
    background-color:#e00!important;
    border-radius:0!important;
    color:#fff!important;
    text-transform:uppercase;
    font-size:16px!important;
    font-weight:700
}
.wForm input[type=text],input[type=password]{
    background-color:#fff;
    box-sizing:border-box;
    color:#000;
    cursor:text;
    display:inline-block;
    font-family:Montserrat,sans-serif;
    font-size:18px;
    font-stretch:100%;
    font-style:normal;
    font-weight:400;
    letter-spacing:normal;
    line-height:30px;
    padding:5px;
    word-spacing:0;
    border:1px solid #d0d2d3;
    border-radius:0!important
}
.breakout{
    margin:0 calc(50% - 50vw)!important;
    display:block
}
.loading{
    background-color:#fff;
    background-image:url(https://eloqualpassets.s3-ap-southeast-2.amazonaws.com/images/loading.gif);
    background-size:20px 20px;
    background-position:right 5px center;
    background-repeat:no-repeat
}
.labelsLeftAligned .label span{
    font-size:16px!important
}
h2.sub_heading{
    color:#315c9B;
    font-weight:700;
    font-size:40px;
    margin:0 0 .5rem;
    padding:0;
    line-height:1.2
}
.wFormContainer{
    max-width:1110px
}
.saveAndResume label{
    font-size:16px;
    font-size:1rem;
    line-height:1.5;
    margin-right:1rem
}
.oneField .inputWrapper select{
    border:1px solid #d0d2d3;
    border-radius:0!important
}
.saveAndResume:first-child>div.oneField{
    margin-left:46px
}
.saveAndResume:first-child a,.saveAndResume:first-child label{
    font-size:20px;
    font-weight:700;
    color:#000
}
.saveAndResume:first-child label{
    padding-right:.5rem!important
}
.saveAndResume:first-child a{
    padding:.2rem
}
.saveAndResume:first-child label:hover{
    text-decoration:underline
}
.saveAndResume .preField{
    width:auto!important
}
footer *{
    box-sizing:border-box
}
footer .column{
    float:left;
    width:33.33%;
    padding:10px
}
footer .row::after{
    content:"";
    display:table;
    clear:both
}
@media screen and (max-width:600px){
    footer .column{
        width:100%
    }
}
footer .row.breakout{
    background-color:#000;
    color:#fff;
    padding:3rem 0
}
footer .row.breakout a{
    color:#fff
}
.list__icons--social li{
    display:inline-block
}
.list__icons--social li.facebook a{
    background-image:url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAgCAYAAAAffCjxAAAAuUlEQVR4AWOgK/j//z8nEFcC8UYgvgPEf4D4JxC/B+L7QJxBjCEuQHzv379//3FhIGggZIgaEP8AKabUoP0ghRQZBJS0gyik3KBaHJrOA7EXEKsAsQwU8+EzaCYOg9RJjfLlWAz5QU7aWYHFoI9DxSCEJikgLkbD57GFERZ1RcgGWaFrIiENPaeWQcepZdAyahnURi2DUpENYgRiFjS8EoumT1jUMQ6OBDlq0KhBowa1APEpNLwPl3oAXDVGO+4xfO0AAAAASUVORK5CYII=)
}
.list__icons--social li.linkedin a{
    background-image:url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABNklEQVR4AeXUAUQDURzH8VUxBEaSghgpAEABUkhAAIEEQhBQAgRiBEkBgYgACAASREqAZGDd7dqiRQn3+mLguZ/b1uu92I8P6K/74m6FfzFjzDyuEOEZZ5j09fAFpLBXQ8lHwA3U9nwEtKB24SPgAWoHPgLWkbUPlH29iJuIYViKW8yF+BzHMVLoqxljhlEUBq3bomLdjWEZW9jFBmZVwDHUFq3bhrhL2n8v4Qhf4u4OS78JqKsATOAReUux3WtAJO6auEY3W+kl4AWuVsVQtwE1dLJ3dLJV1wHnmGrfjmIHKdROXAZcYiDjK6tA7d5lwLT4zMtQi129hK2cH7tPZO3bVUCSE1A1Yr4CnlwFRKED4r4PqIcOSEIHvIYOaIQOaIYOePuLgDWcCjPWPzoUd5WcgH31jB9Gd6eXzjOyhAAAAABJRU5ErkJggg==)
}
.list__icons--social a{
    display:block;
    content:"";
    background:url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAiCAYAAAApkEs2AAAB/UlEQVR4Ae3XA5AcQRhA4di2bdu2k1KKsW0bpdi2bdu2bdtOT158N7Vjnf6q77jd+9YzoUJGYSRJCo3IATUuK8bhKr4KISTmDXaiDaIorIuFdEqb1rIxMCIm4LsgTglzH5X93ON5MALPkNzXxuX/LOxqQ2Qk7JFFKWK+YwOe+flbd6XNZ/i50GCLodMUojQxAv0QGtGRSr75PtmCSYhsIjIvhIXQOeiDtTiCGPIruOBj0U1UNRg6TrDWKuaO0nN0g8qi5UimM/SsDZGHkFjpCvpqLP6A+aiIsCqhzy1GbkFEtXsiCb7q3OwBhqEwIsn2uW4xdKieh62viY2/4jRWYQLuWwztrhUZB2GwVLDAK0xdrdDLWInOOOJhaHmt0E2yRZ5gMmiFNgsAkbf1vJDC4YzHoRP0fqoUwzcPQ6sY+Qgsh+ceRD5DJKMHFmmwHJ9dDO1m5jCtJiqiI+64EPkEUc2EjnX5Ye9k9sA3IV65FHkSkawcpefDC4cjXyKNHSdo2XHAoUiBGnaf8lbEPJzCJ5tC+zh5jl4OVy0GfkNzpwLzYZEN9+I7VLMzLAzyoD0O2fRQn0IeK1Fx0Q8rsRvn8cbGF81DNEIYu+7F6jhoY+BjDEY0p56P6dAXZ/DdYNx1DEcxjXvQ9uhoKImOGIrpWIG1WIgp6IPayBwquM8PNPN/XhLpzUQAAAAASUVORK5CYII=) 50% 50% no-repeat rgba(0,0,0,0);
    background-size:auto 100%;
    width:32px;
    height:16px;
    text-indent:-9999px
}
footer .row.bottom{
    padding:1.5rem 0 1rem;
    background:#d0d2d3;
    text-align:center
}
p.supportInfo{
    display:none
}
@supports not (-ms-high-contrast:none){
    .inputWrapper select{
        width:100%;
        margin-top:.25rem;
        font-size:16px;
        font-size:1rem;
        line-height:1.5;
        padding:.5rem 2.25rem .5rem .75rem;
        height:46px;
        height:2.875rem;
        position:relative;
        display:inline-block;
        appearance:none;
        border:2px solid #000;
        text-indent:.01px;
        text-overflow:'';
        background-color:#fff;
        box-sizing:border-box;
        border-radius:0;
        cursor:pointer;
        background-image:url("data:image/svg+xml,%3Csvg fill='%2300698f' width='1.5em' height='auto' viewBox='0 0 28 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.9 1.1L8 7.2l6.1-6.1L16 2.9l-8 8-8-8 1.9-1.8z'/%3E%3Cpath fill='none' d='M2-5.8h24v24H2v-24z'/%3E%3C/svg%3E");
        background-repeat:no-repeat;
        background-position:right center;
        background-size:1.5em auto;
        vertical-align:middle;
        -webkit-appearance:none
    }
    .inputWrapper select:focus{
        outline:#1D96FB solid 3px;
        outline-offset:2px
    }
    select::-ms-expand{
        display:none
    }
    .wFormContainer .wForm .inputWrapper .oneChoice .input-checkbox-faux::after,.wFormContainer .wForm .inputWrapper .oneChoice .input-checkbox-faux::before{
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23575757' d='M0,0h32v32H0V0z'/%3E%3Cpath fill='%23eee' d='M2,2h28v28H2V2z'/%3E%3C/svg%3E");
        width:38px;
        width:2.375rem;
        height:38px;
        height:2.375rem;
        content:' ';
        display:block;
        position:absolute;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        background-repeat:no-repeat;
        z-index:100;
        left:-3px;
        top:-2px;
        border:3px solid transparent
    }
    .wForm form .oneChoice{
        display:inline-block;
        position:relative
    }
    .wFormContainer .wForm .inputWrapper input[type=checkbox]:checked+.label>.input-checkbox-faux::after,.wFormContainer .wForm .inputWrapper input[type=checkbox]:checked+.label>.input-checkbox-faux::before{
        content:"";
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23315c9B' d='M0,0h32v32H0V0z'/%3E%3Cpath fill='%23c700' d='M2,2h28v28H2V2z'/%3E%3C/svg%3E")
    }
    .wFormContainer .wForm .inputWrapper input[type=checkbox]:checked+.label>.input-checkbox-faux::after{
        content:"";
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23fff' d='M25.6,11.4c0.2-0.2,0.2-0.5,0-0.7l-2.3-2.3c-0.2-0.2-0.5-0.2-0.7,0L14,17l-3.6-3.6c-0.2-0.2-0.5-0.2-0.7,0l-2.3,2.3 c-0.2,0.2-0.2,0.5,0,0.7l6.3,6.3c0.2,0.2,0.5,0.2,0.7,0L25.6,11.4L25.6,11.4z'/%3E%3C/svg%3E")
    }
    [type=checkbox],[type=radio]{
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        padding:0
    }
    label.postField:not(.uploadedFile label){
        padding:0 .5rem .5rem 2.5rem;
        display:block
    }
    .wFormContainer .wForm .inputWrapper input[type=radio]{
        display:block!important;
        position:absolute!important;
        z-index:-1!important
    }
    .wFormContainer .wForm .inputWrapper input[type=radio]+label{
        display:block;
        cursor:pointer;
        font-weight:300;
        height:30px;
        min-height:30px;
        width:181px;
        box-shadow:none!important;
        border-radius:0;
        font-size:16px;
        padding:12px 0 0;
        background-color:#fff!important;
        color:#315c9B;
        border:2px solid #315c9B;
        text-align:center
    }
    .wFormContainer .wForm .inputWrapper input[type=radio]+label::before{
        position:absolute;
        left:.44em;
        color:#000;
        content:"";
        font-size:24px
    }
    .input-radio-faux{
        display:none
    }
    .wFormContainer .wForm .inputWrapper input[type=radio]:checked+label{
/*         border-color:#0675c2; */
		border-color:#000000;
        background-color:#315c9B!important;
        color:#fff!important
    }
    .wFormContainer .wForm .inputWrapper input[type=radio]:hover+label{
        background-color:#315c9B!important;
        color:#fff!important
    }
    .wFormContainer .wForm .inputWrapper input[type=file]::-webkit-file-upload-button{
        background-color:#e00!important;
        border:none;
        border-radius:0!important;
        color:#fff!important;
        cursor:pointer;
        display:inline-block;
        height:42px;
        width:auto;
        padding:0 20px!important;
        box-sizing:content-box;
        margin-right:8px!important
    }
    .wFormContainer .wForm .inputWrapper input[type=file]::-webkit-file-upload-button:hover{
        color:#fff!important;
        background-color:#315c9B!important
    }
    .fileWrapper+.uploadButton{
        height:38px
    }
    #tfa_503 .inputWrapper .oneChoice .input-checkbox-faux::after,#tfa_503 .inputWrapper .oneChoice .input-checkbox-faux::before{
        top:5px
    }
    #wFormResumePage>div.wForm{
        border-radius:0!important;
        background-color:#fff;
        padding:40px;
        margin:10px 0;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -webkit-box-shadow:rgba(0,0,0,.25) 4px 4px 5px;
        -moz-box-shadow:rgba(0,0,0,.25) 4px 4px 5px;
        border:1px solid #dcdcdc
    }
    .kalendae .k-btn-previous-month::after{
        content:"\276E"
    }
    .kalendae .k-btn-next-month::after{
        content:"\276F"
    }
    .kalendae .k-btn-previous-year::after{
        content:"\276E\276E"
    }
    .kalendae .k-btn-next-year::after{
        content:"\276F\276F"
    }
    .kalendae .k-btn-next-year,.kalendae .k-btn-previous-year{
        letter-spacing:-4px;
        text-align:left
    }
    .kalendae .k-btn-next-year{
        right:3px
    }
    .kalendae{
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -ms-border-radius:0;
        -o-border-radius:0;
        border-radius:0;
        padding:0;
        border-bottom:1px solid #bbb;
        background-color:transparent
    }
    .kalendae .k-calendar{
        width:210px
    }
    .kalendae .k-days,.kalendae .k-header,.kalendae .k-title{
        width:auto
    }
    .kalendae .k-title{
        border-radius:0;
        background-color:#315c9B;
        border:1px solid #315c9B;
        color:#fff;
        padding:5px;
        line-height:25px;
        height:25px
    }
    .kalendae .k-title .k-caption{
        font-size:15px;
        line-height:24px;
        font-weight:700
    }
    .kalendae .k-header{
        background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#000),color-stop(100%,#1f1f1f));
        background:-webkit-linear-gradient(#000,#1f1f1f);
        background:-moz-linear-gradient(#000,#1f1f1f);
        background:-o-linear-gradient(#000,#1f1f1f);
        background:linear-gradient(#000,#1f1f1f);
        color:#dadada;
        text-shadow:0 1px 0 #000
    }
    .kalendae .k-header span{
        color:#fff;
        width:30px;
        line-height:20px;
        text-transform:uppercase
    }
    .kalendae .k-days span,.kalendae .k-header span{
        margin:0
    }
    .kalendae .k-calendar .k-days span{
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -ms-border-radius:0;
        -o-border-radius:0;
        border-radius:0;
        color:lighteb(#666,20);
        border-bottom:1px solid #eee;
        border-left:1px solid #eee;
        width:23px;
        height:23px;
        line-height:23px;
        padding-top:2px;
        text-align:center
    }
    .kalendae .k-calendar .k-days span.k-active,.kalendae .k-calendar .k-days span.k-out-of-month{
        background:#fff;
        color:#000;
        border-top-color:transparent;
        border-right-color:transparent;
        border-bottom:1px solid #bbb;
        border-left:1px solid #bbb
    }
    .kalendae .k-calendar .k-days span.k-active:hover,.kalendae .k-calendar:hover{
        border-color:#888;
        background-color:#315c9B;
        color:#fff!important
    }
    .kalendae .k-calendar .k-days span.k-active.k-range,.kalendae .k-calendar .k-days span.k-active.k-selected,.kalendae .k-calendar .k-days span.k-range.k-out-of-month,.kalendae .k-calendar .k-days span.k-selected.k-out-of-month{
        background-color:#315c9B;
        border-color:#315C9B;
        color:#fff
    }
    .kalendae .k-calendar .k-days span.k-active.k-range.k-out-of-month,.kalendae .k-calendar .k-days span.k-active.k-selected.k-out-of-month,.kalendae .k-calendar .k-days span.k-range.k-out-of-month,.kalendae .k-calendar .k-days span.k-selected.k-out-of-month{
        background:url(data:image/svg+xml;
        base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
        background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#f5f5f5),color-stop(100%,#ececec));
        background:-webkit-linear-gradient(#f5f5f5,#ececec);
        background:-moz-linear-gradient(#f5f5f5,#ececec);
        background:-o-linear-gradient(#f5f5f5,#ececec);
        background:linear-gradient(#f5f5f5,#ececec);
        color:#666;
        text-shadow:0 1px 0 rgba(255,255,255,.5);
        background-color:#f5f5f5;
        border-color:#bbb
    }
    .kalendae .k-calendar .k-days span.k-out-of-month{
        background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#d0d0d0),color-stop(100%,#d0d0d0));
        background:-webkit-linear-gradient(#d0d0d0,#d0d0d0);
        background:-moz-linear-gradient(#d0d0d0,#d0d0d0);
        background:-o-linear-gradient(#d0d0d0,#d0d0d0);
        background:linear-gradient(#d0d0d0,#d0d0d0);
        border-bottom:1px solid #bbb;
        border-left:1px solid #bbb;
        color:#666
    }
    span.k-in-month{
        color:#000!important
    }
    .kalendae .k-calendar.k-first-month .k-title,.kalendae .k-calendar.k-last-month .k-title,.kalendae .k-calendar.k-middle-month .k-title{
        border-radius:0
    }
    .kalendae .k-separator{
        background:0 0;
        height:233px;
        margin:0;
        width:0
    }
    .kalendae .k-btn-next-month,.kalendae .k-btn-next-year,.kalendae .k-btn-previous-month,.kalendae .k-btn-previous-year{
        top:10px;
        color:#fff;
        font-size:20px!important;
        line-height:14px!important
    }
    .kalendae .k-btn-next-year:hover,.kalendae .k-btn-previous-year:hover{
        color:#e00
    }
    .kalendae .k-btn-next-month:hover,.kalendae .k-btn-previous-month:hover{
        color:#000
    }
    span.k-in-month{
        background:linear-gradient(#d0d0d0,#d0d0d0);
        border-bottom:1px solid #bbb;
        border-left:1px solid #bbb;
        border-top-color:transparent;
        border-right-color:transparent
    }
    .saveAndResume label::after,.saveAndResume label::before{
        width:38px;
        width:2.375rem;
        height:38px;
        height:2.375rem;
        content:' ';
        display:block;
        position:absolute;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        background-repeat:no-repeat;
        z-index:100;
        left:-36px;
        top:-6px;
        border:3px solid transparent;
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23575757' d='M0,0h32v32H0V0z'/%3E%3Cpath fill='%23eee' d='M2,2h28v28H2V2z'/%3E%3C/svg%3E")
    }
    #tfa_saveForLater:checked+label::after{
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23fff' d='M25.6,11.4c0.2-0.2,0.2-0.5,0-0.7l-2.3-2.3c-0.2-0.2-0.5-0.2-0.7,0L14,17l-3.6-3.6c-0.2-0.2-0.5-0.2-0.7,0l-2.3,2.3 c-0.2,0.2-0.2,0.5,0,0.7l6.3,6.3c0.2,0.2,0.5,0.2,0.7,0L25.6,11.4L25.6,11.4z'/%3E%3C/svg%3E")
    }
    #tfa_saveForLater:checked+label::before{
        background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M0,0h32v32H0V0z'/%3E%3Cpath fill='%23c700' d='M2,2h28v28H2V2z'/%3E%3C/svg%3E")
    }
    .oneChoice label{
        font-size:16px;
        font-size:1rem;
        line-height:1.5;
        padding:.25rem .5rem .5rem 2.5rem;
        margin-right:1rem;
        display:block;
        color:#313131
    }
    #tfa_saveForLater{
        position:absolute;
        left:8px;
        left:-1.5rem;
        top:8px;
        top:.5rem;
        cursor:pointer;
        margin:0
    }
    .saveAndResume label{
        display:block!important
    }
    #tfa_saveForLater:focus+label::before,.wFormContainer .wForm .inputWrapper input[type=checkbox]:focus+.label>.input-checkbox-faux::after{
        outline:#315c9B solid 3px!important
    }
    .saveAndResume input[type=password],.saveAndResume input[type=text],.wFormContainer .wForm .inputWrapper input[type=text],.wFormContainer .wForm .inputWrapper textarea{
        border:1px solid #575757!important
    }
    .wFormContainer .wForm .inputWrapper input[type=radio]:focus+label{
        border:2px solid #000
    }
}
@media (-ms-high-contrast:none),(-ms-high-contrast:active){
    .wFormContainer .wForm .inputWrapper .oneChoice .input-checkbox-faux::before,.wFormContainer .wForm .inputWrapper .oneChoice .input-radio-faux::before{
        border:1px solid #000
    }
    .wFormContainer .wForm .inputWrapper input[type=checkbox]:checked+.label>.input-checkbox-faux::before{
        display:inline
    }
    .wForm form .oneChoice .label,.wForm form .oneChoice label{
        vertical-align:0!important
    }
}
